header{
    display: flex;
    justify-content: center;
    padding: 100px 0;
}

.chart-container{
    display: flex;
    justify-content: center;
}

.chart{
    max-width: 500px;
    margin: 50px;
}
